{% extends 'base.html.twig' %}

{% block title %}Phone Checker{% endblock %}

{% block body %}

<div class="panel panel-default">

   <div class="panel-heading">
      <a href="/">Home</a>/ +1 ({{details.area_code}}) {{details.code}}-{{suffix}}                     
   </div>
   <!-- /.panel-heading -->
   <div class="panel-body">
      <div id="phone-number">
         {{details.area_code}}-{{details.code}}-{{suffix}}
         <span class="rating">Report: <label class="warning">{{overall_reports}}</label></span>
         <span class="rating">Rating: <label class="warning">{{overall_rating}}</label></span>
      </div>
      <div class="clearfix"></div>
      <div class="">
         <table class="table table-responsive">
            <tbody>
               <tr>
                  <td class="text-bold">Area Code:</td>
                  <td><a href="/{{details.area_code}}">{{details.area_code}}</a></td>
               </tr>
               <tr>
                  <td class="text-bold">Prefix (NXX):</td>
                  <td><a href="/{{details.area_code}}-{{details.code}}">{{details.code}}</a></td>
               </tr>
               <tr>
                  <td class="text-bold">Country:</td>
                  <td>{{details.country_name}}</td>
               </tr>
               <tr>
                  <td class="text-bold">State/Province:</td>
                  <td><a href="/state/Alabama">{{details.state_name}}</a></td>
               </tr>
               <tr>
                  <td class="text-bold">City:</td>
                  <td><a href="/city/{{details.city}}">{{details.city}}</a></td>
               </tr>
               <tr>
                  <td class="text-bold">Company:</td>
                  <td>{{details.company}}</td>
               </tr>
               <tr>
                  <td class="text-bold">Usage:</td>
                  <td>{{details.p_usage}}</td>
               </tr>
               <tr>
                  <td class="text-bold">Time Zone:</td>
                  <td>{{details.time_zone}}</td>
               </tr>
               <tr>
                  <td class="text-bold">International format:</td>
                  <td>+1{{details.area_code}}{{details.code}}{{suffix}}</td>
               </tr>
            </tbody>
         </table>
         <div class="common-desc">
            {{details.area_code}}-{{details.code}}-{{suffix}} description.
         </div>
      </div>
   </div>
   <!-- /.panel-body -->
</div>

<div class="panel panel-default">
   <div class="panel-heading">
       <i class="fa fa-edit fa-fw"></i> Add Comment
   </div>
   <!-- /.panel-heading -->
   <div class="panel-body">
       <div class="row">
           <div class="col-lg-12">
           <form id="rateForm" name="rateForm" method="post" role="form" action="{{app_url}}/add_comment">
               <div class="form-group">
                   <label>Your Name:</label>
                   <input class="form-control" name="name" id="name" required="">
               </div>
                   <div class="form-group">
                       <input type="hidden" name="phone_number" value="{{details.area_code}}{{details.code}}{{suffix}}">

                       <input type="hidden" name="rate" id="rate" value="0">
                       <div id="rate_desc">Default rating for this phone number is 0, please choose your rating.</div>
                       <label>Rate:</label>
                       <button type="button" id="rating-5" class="btn btn-danger ratingb" onclick="rating(-5);"> -5
                       </button>
                       <button type="button" id="rating-4" class="btn btn-danger ratingb" onclick="rating(-4);"> -4
                       </button>
                       <button type="button" id="rating-3" class="btn btn-danger ratingb" onclick="rating(-3);"> -3
                       </button>
                       <button type="button" id="rating-2" class="btn btn-danger ratingb" onclick="rating(-2);"> -2
                       </button>
                       <button type="button" id="rating-1" class="btn btn-danger ratingb" onclick="rating(-1);"> -1
                       </button>
                       <button type="button" id="rating0" class="btn btn-info ratingb picked" onclick="rating(0);"> 0
                       </button>
                       <button type="button" id="rating1" class="btn btn-primary ratingb" onclick="rating(1);"> 1
                       </button>
                       <button type="button" id="rating2" class="btn btn-primary ratingb" onclick="rating(2);"> 2
                       </button>
                       <button type="button" id="rating3" class="btn btn-primary ratingb" onclick="rating(3);"> 3
                       </button>
                       <button type="button" id="rating4" class="btn btn-primary ratingb" onclick="rating(4);"> 4
                       </button>
                       <button type="button" id="rating5" class="btn btn-primary ratingb" onclick="rating(5);"> 5
                       </button>                                            
                       
                   </div>
                   <div class="form-group">
                       <div id="rate_desc">Please categorize the call type.
                       </div>
                       <label>Call Type:</label>
                       <select name="call_type_id" id="calltype" class="form-control">
                           <option value="1" selected="">Unknown</option>
                           <option value="2">Scam</option>
                           <option value="3">Telemarketer</option>
                           <option value="4">Harassment</option>
                           <option value="5">Survey</option>
                           <option value="6">Political Call</option>
                           <option value="7">Spam</option>
                           <option value="8">Debt Collector</option>
                           <option value="9">Prank Call</option>
                           <option value="10">Positive</option>
                       </select>
                   </div>
               
               <div class="form-group">
                   <label>Your Comment:</label>
                   <textarea class="form-control" name="comment" id="comment" rows="3" required=""></textarea>
               </div>
               <br>
               <button type="submit" class="btn btn-primary">Submit</button>
               
           </form>
           </div>
       </div>
       <!-- /.row -->
   </div>
   <!-- /.panel-body -->
</div>


<div class="panel panel-default">
   <div class="panel-heading">
       <i class="fa fa-comment fa-fw"></i> Comments for 3606222899
    </div>
   <!-- /.panel-heading -->
   <div class="panel-body">
       <ul id="comments-content" class="timeline">

       {% for comment in comments %}
           <li class="timeline-inverted">

               {% if comment.rate < 0 %}
                  <div class="timeline-badge danger">
                     <i class="fa fa-user"></i>
                  </div>
               {% elseif comment.rate > 0 %} 
                  <div class="timeline-badge success">
                     <i class="fa fa-user"></i>
                  </div>  
               {% else %} 
                  <div class="timeline-badge">
                     <i class="fa fa-user"></i>
                  </div>    
               {% endif %}  
               <div class="timeline-panel">
                   <div class="timeline-heading">
                       <strong class="timeline-title">{{comment.name|escape}}</strong>
                       <small class="text-muted ">
                           <i class="fa fa-clock-o fa-fw"></i>{{comment.created_at|escape}}</small>                 
                       <br>
                       <strong class="primary-font">Phone number: </strong><a href="{{app_url}}/{{details.area_code}}{{details.code}}{{suffix}}">+1 ({{details.area_code}}) {{details.code}}-{{suffix}}</a><br>
                       <strong class="primary-font">Call type: </strong>{{comment.call_type|escape}}<br>
                       <strong class="primary-font">Rating: </strong>{{comment.rate|escape}}<br>
                   </div>
                   <div class="timeline-body">
                       <p>{{comment.comment|escape}}</p>
                  </div>
               </div>
           </li>           
       {% endfor %}

                       

                       


                         
    </ul>

       

   </div>
   <!-- /.panel-body -->
</div>

<script type="text/javascript">
   function rating(rate){
      $("#rate").val(rate);
   }
</script>

<style type="text/css">
   .timeline .timeline-body{
      margin-left: 0px;
   }
  

   .timeline .timeline-body p{
      margin: 0px;
   }   

   .timeline:before{
      width: 0px;
   }
   .timeline .timeline-badge{
      padding: 0px;
   }
</style>
{% endblock %}