{% extends 'base2.html.twig' %}

{% block title %}Phone Checker{% endblock %}

{% block body %}

<div class="panel panel-default">
   <div class="panel-heading">
      <a href="/">Home</a>/ +1 ({{details.area_code}}) {{details.code}}-{{suffix}}                     
   </div>
   <!-- /.panel-heading -->
   <div class="panel-body">
      <div id="phone-number">
         {{details.area_code}}-{{details.code}}-{{suffix}}
         <span class="rating">Report: <label class="warning">0</label></span>
         <span class="rating">Rating: <label class="warning">0</label></span>
      </div>
      <div class="clearfix"></div>
      <div class="">
         <table class="table table-responsive">
            <tbody>
               <tr>
                  <td class="text-bold">Area Code:</td>
                  <td><a href="/{{details.area_code}}">{{details.area_code}}</a></td>
               </tr>
               <tr>
                  <td class="text-bold">Prefix (NXX):</td>
                  <td><a href="/{{details.area_code}}-{{details.code}}">{{details.code}}</a></td>
               </tr>
               <tr>
                  <td class="text-bold">Country:</td>
                  <td>{{details.country_name}}</td>
               </tr>
               <tr>
                  <td class="text-bold">State/Province:</td>
                  <td><a href="/state/Alabama">{{details.state_name}}</a></td>
               </tr>
               <tr>
                  <td class="text-bold">City:</td>
                  <td><a href="/city/{{details.city}}">{{details.city}}</a></td>
               </tr>
               <tr>
                  <td class="text-bold">Company:</td>
                  <td>{{details.company}}</td>
               </tr>
               <tr>
                  <td class="text-bold">Usage:</td>
                  <td>{{details.p_usage}}</td>
               </tr>
               <tr>
                  <td class="text-bold">Time Zone:</td>
                  <td>{{details.time_zone}}</td>
               </tr>
               <tr>
                  <td class="text-bold">International format:</td>
                  <td>+1{{details.area_code}}{{details.code}}{{suffix}}</td>
               </tr>
            </tbody>
         </table>
         <div class="common-desc">
            {{details.area_code}}-{{details.code}}-{{suffix}} description.
         </div>
      </div>
   </div>
   <!-- /.panel-body -->
</div>
{% endblock %}